{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Total Express</title>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
<body>

    <header>
        <img src="{% static 'images/total-express-logo.png' %}" 
        alt="Total Express Logo" style="width: 300px; height: auto;">
    </header>

    <h1>Editar Estoque</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ instancia.id }}">
        <h4>Qtde</h4>
        <input type="number" name="Qtde" value="{{ instancia.Qtde }}" required>
        <h4>Código</h4>
        <input type="text" name="Codigo" value="{{ instancia.Codigo }}" required>
        <h4>Descrição</h4>
        <input type="text" name="Descricao" value="{{ instancia.Descricao }}" required>
        <h4>Unitário</h4>
        <input type="number" name="Unitario" value="{{ instancia.Unitario }}" step="0.01" required>
        <h4>Total</h4>
        <input type="number" name="Total" value="{{ instancia.Total }}" step="0.01" readonly>

        <button type="submit">Salvar Alterações</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Selecione os elementos de entrada
            var inputQtde = document.querySelector('input[name="Qtde"]');
            var inputUnitario = document.querySelector('input[name="Unitario"]');
            var inputTotal = document.querySelector('input[name="Total"]');
    
            // Adicione um ouvinte de evento de mudança a inputQtde e inputUnitario
            [inputQtde, inputUnitario].forEach(function (input) {
                input.addEventListener('change', calcularTotal);
            });
    
            // Função para calcular o valor total
            function calcularTotal() {
                var qtde = parseFloat(inputQtde.value) || 0;
                var unitario = parseFloat(inputUnitario.value) || 0;
                var total = qtde * unitario;
    
                // Atualize o valor do campo Total
                inputTotal.value = total.toFixed(2); // Arredonde para 2 casas decimais
            }
        });
    </script>
    
</body>
</html>
